In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt

from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split

In [105]:
dataset = pd.read_csv("dataset.csv")
dataset.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-12-21,800.643982,834.281006,799.405029,834.281006,834.281006,155576000
1,2016-12-22,834.179993,875.781982,834.148987,864.539978,864.539978,200027008
2,2016-12-23,864.888000,925.117004,864.677002,921.984009,921.984009,275564000
3,2016-12-24,922.179993,923.479004,886.335022,898.822021,898.822021,137727008
4,2016-12-25,899.651978,899.651978,862.424011,896.182983,896.182983,143664992

In [106]:
mean = dataset["Close"].mean()
mean

15231.832470614669

In [107]:
dataset["Close"].min()

777.757019

In [108]:
dataset["Close"].max()

67566.828125

In [109]:
dataset.shape

(1827, 7)

In [110]:
dataset.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1827.000000,1827.000000,1827.000000,1827.000000,1827.000000,1.827000e+03
mean,15208.247358,15629.267253,14746.920288,15231.832471,15231.832471,2.092230e+10
std,16829.476707,17296.796539,16289.465757,16838.811505,16838.811505,2.122934e+10
min,775.177979,823.307007,755.755981,777.757019,777.757019,6.085170e+07
25%,5308.327637,5422.169434,5221.697753,5319.541504,5319.541504,4.474525e+09
50%,8585.262695,8744.828125,8313.340820,8595.740234,8595.740234,1.607165e+10
75%,13500.216309,13852.566406,12921.156250,13548.505860,13548.505860,3.260844e+10
max,67549.734375,68789.625000,66382.062500,67566.828125,67566.828125,3.509679e+11

Same data in these 2 columns because all True are converted to 1

In [111]:
(dataset["Close"] == dataset["Adj Close"]).sum()

1827

In [112]:
dataset["Adj Close"]

0         834.281006
1         864.539978
2         921.984009
3         898.822021
4         896.182983
            ...
1822    46202.144531
1823    46848.777344
1824    46707.015625
1825    46880.277344
1826    48565.843750
Name: Adj Close, Length: 1827, dtype: float64

In [113]:
dataset["Numeric"] = np.where(dataset["Close"]<mean, 0,1)
dataset

,Date,Open,High,Low,Close,Adj Close,Volume,Numeric
0,2016-12-21,800.643982,834.281006,799.405029,834.281006,834.281006,155576000,0
1,2016-12-22,834.179993,875.781982,834.148987,864.539978,864.539978,200027008,0
2,2016-12-23,864.888000,925.117004,864.677002,921.984009,921.984009,275564000,0
3,2016-12-24,922.179993,923.479004,886.335022,898.822021,898.822021,137727008,0
4,2016-12-25,899.651978,899.651978,862.424011,896.182983,896.182983,143664992,0
...,...,...,...,...,...,...,...,...
1822,2021-12-17,47653.730469,48004.894531,45618.214844,46202.144531,46202.144531,32902725329,1
1823,2021-12-18,46219.253906,47313.828125,45598.441406,46848.777344,46848.777344,26098292690,1
1824,2021-12-19,46853.867188,48089.664063,46502.953125,46707.015625,46707.015625,25154053861,1
1825,2021-12-20,46707.062500,47401.718750,45579.808594,46880.277344,46880.277344,30961902129,1
1826,2021-12-21,46985.242188,48912.152344,46739.777344,48565.843750,48565.843750,30736644096,1

In [114]:
dataset.drop(["Adj Close"],axis=1,inplace=True)

In [115]:
dataset

,Date,Open,High,Low,Close,Volume,Numeric
0,2016-12-21,800.643982,834.281006,799.405029,834.281006,155576000,0
1,2016-12-22,834.179993,875.781982,834.148987,864.539978,200027008,0
2,2016-12-23,864.888000,925.117004,864.677002,921.984009,275564000,0
3,2016-12-24,922.179993,923.479004,886.335022,898.822021,137727008,0
4,2016-12-25,899.651978,899.651978,862.424011,896.182983,143664992,0
...,...,...,...,...,...,...,...
1822,2021-12-17,47653.730469,48004.894531,45618.214844,46202.144531,32902725329,1
1823,2021-12-18,46219.253906,47313.828125,45598.441406,46848.777344,26098292690,1
1824,2021-12-19,46853.867188,48089.664063,46502.953125,46707.015625,25154053861,1
1825,2021-12-20,46707.062500,47401.718750,45579.808594,46880.277344,30961902129,1
1826,2021-12-21,46985.242188,48912.152344,46739.777344,48565.843750,30736644096,1

In [116]:
X = dataset
X = X.drop(["Close"],axis=1)
X = X.drop(["Date"],axis=1)

In [117]:
X

              Open          High           Low       Volume  Numeric
0       800.643982    834.281006    799.405029    155576000        0
1       834.179993    875.781982    834.148987    200027008        0
2       864.888000    925.117004    864.677002    275564000        0
3       922.179993    923.479004    886.335022    137727008        0
4       899.651978    899.651978    862.424011    143664992        0
...            ...           ...           ...          ...      ...
1822  47653.730469  48004.894531  45618.214844  32902725329        1
1823  46219.253906  47313.828125  45598.441406  26098292690        1
1824  46853.867188  48089.664063  46502.953125  25154053861        1
1825  46707.062500  47401.718750  45579.808594  30961902129        1
1826  46985.242188  48912.152344  46739.777344  30736644096        1

[1827 rows x 5 columns]

In [118]:
y = dataset["Close"]
y

0         834.281006
1         864.539978
2         921.984009
3         898.822021
4         896.182983
            ...
1822    46202.144531
1823    46848.777344
1824    46707.015625
1825    46880.277344
1826    48565.843750
Name: Close, Length: 1827, dtype: float64

In [120]:
#dataset.isna().sum()

In [121]:
#plt.boxplot(dataset["Close"])

In [122]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [123]:
#classifier = LogisticRegression(random_state = 0)
#classifier.fit(X_train, y_train)

In [124]:
reg = LinearRegression().fit(X, y)

In [125]:
reg.score(X, y)

0.9994937329392733

In [126]:
#clf = LogisticRegression(random_state=0).fit(X, y)